<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table style="margin: 0px auto; max-width: {{width}}; height: 40px; display: block" bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0">
                <tbody style="display: block">
                    <tr style="display: block">
                        <td align="center" style="border-radius: 2px; display: block" bgcolor="#FFFFFF">
                            <a href={{link}} style="display: block" target="_blank" class="ghost">Search {{home-count}} homes</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>