<row class="footer mobile-padding">
    <span class="legal">The discount is based on the highest price of the offer under the same conditions from the same
        dates for the upcoming year. Vacasa offers property management and other real estate services directly through
        Vacasa LLC and through Vacasa LLC's licensed subsidiaries.
        <a
            href="https://www.vacasa.com/real-estate/real-estate-entities?&utm_campaign=weekend_deal&utm_campaignid=1&utm_uuid=02597588-9a85-11e9-88e1-88e9fe5c0ce7&utm_source=sendgrid_peat&utm_medium=email&utm_content=footer-legal">Click
            here for more information about Vacasa's licensed real estate brokerage/property manager in your state.</a>
    </span>
    <span class="address">&copy; 2019 Vacasa, LLC | 850 NW 13th Ave. Portland, OR 97209</span>
    <span class="links">
        <a href="<%asm_group_unsubscribe_raw_url%>">Unsubscribe</a>
        <span class="separator">|</span>
        <a
            href="https://www.vacasa.com/terms-of-service?&utm_campaign=weekend_deal&utm_campaignid=1&utm_uuid=02597588-9a85-11e9-88e1-88e9fe5c0ce7&utm_source=sendgrid_peat&utm_medium=email&utm_content=footer-privacy">Privacy
            &amp; Terms</a>
    </span>
</row>