<row class="header dark full-width no-mobile-padding" bgcolor="rgb(0, 51, 73)">
    <column>
        <a href="https://vacasa.com?&utm_campaign=weekend_deal&utm_campaignid=1&utm_uuid=02597588-9a85-11e9-88e1-88e9fe5c0ce7&utm_source=sendgrid_peat&utm_medium=email&utm_content=header_logo" >
            <img class="logo" src="https://static-assets.boise.vacasa.com/peat/Logos_Lockup_Horizontal_Color.png" alt="Vacasa">
        </a>    
    </column>
    <column>
        <p class="tagline">
            Your vacation is our full-time job
        </span>
    </column>
</row> 