<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table style="margin: 16px auto; max-width: {{width}}; height: 40px; display: block" bgcolor="#ffd00a" border="0" cellspacing="0" cellpadding="0">
                <tbody style="display: block">
                    <tr style="display: block">
                        <td align="center" style="border-radius: 2px; display: block" bgcolor="#ffd00a">
                            <a href={{link}} style="display: block" target="_blank" class="primary">{{label}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>