<row class="search mobile-padding">
    <h3>Find a vacation rental</h3>
    <a href="https://vacasa.com?&utm_campaign=weekend_deal&utm_campaignid=1&utm_uuid=02597588-9a85-11e9-88e1-88e9fe5c0ce7&utm_source=sendgrid_peat&utm_medium=email&utm_content=footer_search"
        target="_blank">
        <img width="561" height="40" src="https://static-assets.boise.vacasa.com/peat/search-bar.png"
            alt="Search for a vacation rental" />
    </a>
    <p>You’ve received this email because you stayed with us in {{previous_reservation.city}}, {{previous_reservation.state}} in {{previous_reservation.year}}.</p>
</row>