<row class="vacasa-banner mobile-hidden">
    <column large="3" small="4">
        <img height="64" width="89" src="https://static-assets.boise.vacasa.com/logo/vacasa-logo-vertical-light.png" width="89px" height="64px"
            alt="Vacasa">
    </column>
    <column large="9" small="8">
        <h3>For the love of vacation homes.</h3>
        <span>It’s why we’re here. We bring families and friends together in thousands of vacation homes around the world.
        </span>
    </column>
</row>